/* // Large devices (desktops, 992px and up) */


/* HP ================ */
  /* Navbar ======================== */

  /* Jumbotron ======================== */
  #jumbotron {
    background-color: #008080ff;
    width: cover;
    height: 800px;
  }
  .logo {
    width: 120px;
    height: 90px;
  }

  .Masjid {
    width: 350px;
    height: 350px;
  }

  .welcome {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    margin-top: 100px;
  }



  #kegiatanTetap {
    padding: 30px;
  }

  #Hadist {
    margin-top: 90px;
    background-color: #008080ff;
    padding-top: 30px;
    padding: 30px;
  }

  #tigaAcara {
    margin-bottom: 100px;
    padding-left: 30px;
    padding-right: 0;
  }
  /* #Quotes {
    padding: 30px;
  } */



  




  @media (min-width: 992px) {
    #Validation {
      background-image: url(./IMG/bg2.png);
      height: 635px;
    }
    /* Input Nama */
    .inputNama {
      padding-top: 300px;
      margin-left: 300px;
      margin-right: 300px;
    }

    /* Navbar ======================== */
    #navbarNav {
      margin-left: 500px;
    }

    .logo {
      width: 150px;
      height: 110px;
    }
  
    .nav-item {
      padding-left: 50px;
    }
  
    /* Jumbotron ======================== */
    #jumbotron {
      background-color: #008080ff;
      width: cover;
      height: 635px;
    }
  
    .Masjid {
      margin-top: -50px;
      width: 550px;
      height: 600px;
    }

    .welcome {
      font-family: 'Montserrat', sans-serif;
      font-size: 60px;
      margin-top: 150px;
    }
  
  }












  